*{
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: rgb(255, 237, 209);
    display: flex;
    justify-content: center;
}

.count-container{
    margin-top: 100px;
    background: linear-gradient(to right, rgb(207, 207, 207), rgb(181, 181, 181));
    border-style: solid;
    width: 300px;
    border-radius: 3%;
    height: 450px;
    border-width: 7px;
}

.numero{
    font-size: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgb(97, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-style: solid;
    
}

.btn-plus{
    margin-top: 45px;
    margin-right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 60px;
}

.btn-minus{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 60px;
}